{% load static %}
<style>
#navbar {
    background: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}
#navbar a {
    color: #1e40af;
    padding: 14px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

.right {
    margin-left: auto;
    display: flex;
    gap: 10px;
}
</style>
<div id="navbar">
    {% if user.profie_icon %}
        <a href="{% url 'profile' user.id %}">
            <img src="{{ user.profile_icon.url }}" width="32" style="border-radius: 50%;">
        </a>
    {% else %}
        <a href="{% url 'profile' user.id %}">
            <img src="{% static 'basic_icon.png' %}" width="32" style="border-radius: 50%;">
        </a>
 {%endif%}
    <a href="{% url 'chats' %}">
        <img src="{% static 'chat_image.png' %}" width="32">
    </a>
            <a href="{% url 'create_post' %}">+ Post</a>
            <a href="{% url 'user_posts' %}">My posts</a>
    <a href="{% url 'main_page' %}">Main</a>

    <div class="right">
        {% if user.is_authenticated %}

            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'registrate' %}">Sign up</a>
        {% endif %}
    </div>
</div>
