{% load static %}
<style>     
#navbar {
  background-color: #d50d0d;
  position: sticky;
  top: 0;
  overflow: hidden;
display: flex;
align-items: center;
padding: 0 20px;
gap: 20px;
}

#navbar a {
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-radius: 4px;
transition: background-color 0.3s;
}

#navbar a:hover {
background-color: #b80a0a;
}
    </style>
<body>
    <div id="navbar">
        <a href="{% url 'chats'  %}"><img src="{% static 'red_bg.png' %}" alt="Chats" style="width:40px; height:40px;"></a>
        <a href="{% url 'main_page'  %}">Main</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out</a> 
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
        {% endif %}
        <!-- перемикач тем -->
    </div>
</body>
</html>