<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .top_bar_body{ 
            background: white;
            
        }
    </style>
</head>
<body>
    <div class="top_bar_body">
        <a href="{% url 'settings'  %}">⚙️</a>
        <a href="{% url 'chats'  %}">
        <img src="pages\static\chat_image.png" alt="" style="width:100px; height:auto;">
        </a>
        <a href="{% url 'main_page'  %}">Ⓜ️🅰️ℹ️n</a>
        
    </div>
</body>
</html>